* {
    background: pink;
}


body{
    flex-direction: column;

    display: flex;
    justify-content: center;
    align-items: center;

    background: none;
}

body h2{
    color:rgb(228, 46, 131);
    font-size: 35px;

    display: flex;
    justify-content: center;

    margin-top: 30px;
    margin-bottom: 10px;
    
    font-family: 'Lato', sans-serif;
}

body p{
    font-family: 'Lato', sans-serif;
}

.navbar{
    display: flex;
    justify-content: center;
}

.backHome{
    background: whitesmoke;
    width: 150px;
    height: 75px;

    border: 1px dashed rgb(228, 46, 131);
    border-radius: 50%;
}

a{
    background: none;
    text-decoration: none;

    color: palevioletred;

    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.imgsapo img{
    margin-top: 5px;
    border-radius: 5px;
}

.imghon img{
    width: 22.6rem;
    height: 20rem;
}

.imgver img{
    width: 15rem;
    height: 18rem;
}

.imghuman img{
    border-radius: 5px;
    margin-bottom: 5px;

    display: flex;
    justify-content: center;
}

.otherhon img{
    width: 50%;
    height: 75%;
}


/* slide */
#mainSlider .carousel-inner, #mainSlider .carousel-item{
    height: 90vh;
    
}

.carousel-inner img{
    height: 500px;
}
